html{
    margin: 0;
    padding: 0;
    background-image: url(./assets/pexels-alex-andrews-3805983.jpg);
    background-size: cover;    
}

body{
    width: 50%;
 /*AJUSTAR O HEIGH AQUI++*/ 
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    border: 2px solid white;
    background-color: red; 
    font-family: "Share", "cursive";
}
header{
    text-align: center;
    font-size: xx-large;
}

#content{
    height: 100%;
}

#perfil-img{
    width: 200px;
    float: left;
    margin-right: 20px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

li{
    margin-bottom: 20px;
}

