html{
    margin: 0;
    padding: 0;
    background-image: url(./assets/pexels-alex-andrews-3805983.jpg);
    background-size: cover;    
}
body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 888px;
 /*AJUSTAR O HEIGH AQUI++*/ 
    height: 95vh;
    margin: auto;
    border: 2px solid white;
 /*   background-color: red;  */ 
    font-family: "Share", "cursive";
}

#back-img{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    filter: blur(2px);
}

header{
    margin-top: 15px;
    text-align: center;
    color: white;
    font-size: xx-large;
}


#perfil-img{
    width: 200px;
    float: left;
    margin-right: 20px;
    border: 5px;
    border-style: outset;
    border-color: #ADAA9B;
    border-radius: 15px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
}

li{
    margin-bottom: 20px;
    padding: 10px;
}

.slogan{
    padding: 5px;
    color: white;
}

