html{
    margin: 0;
    padding: 0;
    background-image: url(./assets/pexels-alex-andrews-3805983.jpg);
    background-size: cover;    
}

#bg-image{
    filter: blur(2px);
}

body{
    width: 50%;
 /*AJUSTAR O HEIGH AQUI++*/ 
    margin-right: auto;
    margin-left: auto;
    background-color: red;
    font-family: "Share", "cursive";
}
header{
    text-align: center;
    font-size: xx-large;
}

#perfil-img{
    width: 200px;
    float: left;
    margin-right: 20px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
 li{
    margin-bottom: 20px;
 }

